.icon-button {
  position: relative;

  .icon-tabler {
    height: 24px;
    width: 24px;
  }

  .tooltip {
    visibility: hidden;
    transition-delay: 0s;
    opacity: 0;

    position: absolute;
    top: 135%;
    white-space: nowrap;

    z-index: 9999;
  }

  &:hover {
    .tooltip {
      visibility: visible;
      transition-delay: 0.5s;
      opacity: 1;
    }
  }
}